# Copyright (C) 2026 Leif Barton
# Licensed under the Open Software License 3.0

# Public API url. Where is the API hosted? 
PUBLIC_API_URL=https://xyz.com

# What level of error to log? (trace, debug, info, warn, error, fatal)
RUST_LOG=debug

# A 64 byte random key for private session cookies
COOKIE_KEY=fe7f4b3dd23c101ccd176a7f38f0e34e5cebbd2c3380e65a76e0ca61c623c29acda7b980a3fdcb23d51868d5b8a573bc400a16865d50c9a5e3286f87a03c1c70