---
/*
 * Copyright (C) 2026 Leif Barton
 * Licensed under the Open Software License 3.0
 */
---
<head>
  <title>About Bot-Focused Chatroom</title>
</head>

<h1>About Bot-Focused Chatroom</h1>
<p>This is a chatroom / instant messaging service focused around bot functionality. It is extremely easy to write your very own bot!</p>
<p>Copyright &copy; 2026 Leif Barton<br />Licensed under the Open Software License 3.0</p>