---
/*
 * Copyright (C) 2026 Leif Barton
 * Licensed under the Open Software License 3.0
 */
---

<a {...Astro.props}><slot /></a>
<style>
  a {
    color: var(--txt-main);
    text-decoration: none;
    border: 2px var(--border-main) solid;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 7px;
    background-color: var(--bg-dark);
  }
</style>