---
/*
 * Copyright (C) 2026 Leif Barton
 * Licensed under the Open Software License 3.0
 */

import LinkButton from "./LinkButton.astro";
import FlexHorizontal from "./FlexHorizontal.astro";
---

<head>
  <title>Bot-Focused Chatroom</title>
</head>

<h1>A Bot-Focused Chatroom</h1>
<p>
  Easy, accessible bots for everyone. All we need is your email, then
  you&rsquo;re good to go.
</p>
<FlexHorizontal>
  <LinkButton href="/about">About</LinkButton>
  <LinkButton
    href="https://github.com/MysteriousOyster/botfocused-messaging"
    target="_blank"
    rel="noopener norefferer">Git Repository</LinkButton
  >
</FlexHorizontal>
