---
/*
 * Copyright (C) 2026 Leif Barton
 * Licensed under the Open Software License 3.0
 */

import { Font } from "astro:assets"
import { ClientRouter, fade } from "astro:transitions"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-ss4" preload />
		<ClientRouter />
	</head>
	<body transition:animate={fade({duration: "0.1s"})}>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: var(--font-ss4);
	}
	:root {
	  --bg-light: #f4f4f4;
		--bg-main: #eee;
		--bg-dark: #ddd;
		--bg-disabled: #ccc;
		--txt-main: #444;
		--txt-light: #888;
		--border-main: var(--txt-main);

		--error: #e55;
		--success: #595;

    --link: #0066cc;
    --link-visited: #6b46c1;
    --link-active: #004080;
	}
	@media (prefers-color-scheme: dark) {
	  :root {
  	  --bg-light: #333;
  		--bg-main: #363636;
  		--bg-dark: #444;
      --bg-disabled: #555;
  		--txt-main: #eee;
      --txt-light: #aaa;
  		--border-main: var(--txt-main);
      --link: #66b3ff;
      --link-visited: #b794f4;
      --link-active: #3d9eff;
		}
	}
	:global(input), :global(button) {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--bg-dark);
    padding: 2px 4px;
    border-radius: 7px;
    border: 2px var(--border-main) solid;
    width: fit-content;
    color: inherit;
	}
	:global(input:disabled), :global(button:disabled) {
    background-color: var(--bg-disabled);
    cursor: not-allowed;
	}
	:global(button) {
	  cursor: pointer;
	}
	:global(a) {
	  color: var(--link);
	}
	:global(a:active) {
  	color: var(--link-active);
	}
	:global(a:visited) {
  	color: var(--link-visited);
	}
</style>
